<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="icon" href="/img/lambang_0.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="/styles/uom.css">
  <script src="/styles/uom.js.download"></script>
  
  <title><%= pageTitle %></title>
</head>

<style type="text/css">
  th, td {
    border-bottom: 1px solid #dddd;
    border-right: 1px solid #dddd;
  }
  button.tombol123 {
    background-color: white;
    color: #006fdc;
  }
</style>

<body class="" data-gr-c-s-loaded="true">
  <div id="MathJax_Message" style="display: none;"></div>
  <div class="uomcontent" id="top">
    <div class="page-header" role="banner">
      <header>
        <a class="page-header-logo" href="/">
          <img src="/img/LOGO.png" width="117" height="117" alt="UNY homepage">
        </a>
        
        <!-- search -->
        <nav class="page-header-tools">
          <a class="page-header-icon" href="" title="Search">
            <svg role="img" focusable="false">
              <use xlink:href="#icon-search"></use>
            </svg>Search
          </a>
        </nav>

        <div class="page-header-search">
          <form class="search" action="/search" method="GET">
            <fieldset>
              <div class="inline attached">
                <span class="fill">
                  <input class="form-control" style="" type="text" placeholder="Cari Staff" aria-label="Cari Staff">
                </span>
                
                <span>
                  <button class="inline-button" type="submit">
                    <span class="small icon--hide-label" data-icon="search">
                      <svg class="icon" role="img" focusable="false">
                        <use xlink:href="#icon-search"></use>
                      </svg>
                      <span class="icon-label">Go</span>
                    </span>
                  </button>
                </span>

              </div>
            </fieldset>

            <a class="page-header-icon">
              <svg class="icon" role="img">
                <use xlink:href="#icon-close">
                </use>
              </svg>Close
            </a>
          </form>
        </div>
        
      </header>
    </div>
    <div class="page-inner"></div>

      