<% include includes/head.ejs %>



    <div class="main" id="main-content" role="main">
      <header class="image" style=" background-image: url(img/bghome1.png);">
    
      
        <div class="mid-align blurred">
        
        
              <!-- <p style="margin-top: 50px;margin-bottom: 20px; text-shadow: black 0px 2px  1px; font-size: 50px;"><b>Welcome to</b></p> -->
              <h1 style="font-size: 50px; margin-top: 20px;"><b>ADMINISTRASI JABATAN FUNGSIONAL</b></h1>
              <p><b>Selamat datang di website kami <br>
                  
                  Website ini berisi Daftar Staff di lingkungan jurusan PTEI Universitas Negeri Yogyakarta beserta data pendidikan, penelitian, dan training.</b></p>
              <div style="margin-top: 50px;">
                <a href="/dosen" class="tombol123" style=" margin-bottom: 75px; font-size: 20px; padding: 5px 16px 5px 16px; color: white; border-radius: 5px; background-color: #004576; border: 1px solid #004576; text-decoration: none;">LIHAT</a>
              </div>
      <p>
      
            
          
    </p></div>
  </header>

  

    </div>

<% include includes/foot.ejs %>


</body></html>